@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.inputLabelAtualizar {
    position: relative;
    padding-top: 13px;
    margin-bottom: 1rem;
}

    
    .inputLabelAtualizar input {
    border: 1px solid #022041;
    background-color: transparent;
    border-radius:15px;
    outline: none;
    min-width: 250px;
    width: 25vw;
    height: 52px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
    }
    
    
    
    .inputLabelAtualizar input::placeholder {
    color: transparent;
    }
    
    .inputLabelAtualizar label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    color: #022041;
    padding: 5px;
    box-sizing: border-box;
    }
    
    .inputLabelAtualizar input:required:invalid+label {
    color: red;
    }
    
    .inputLabelAtualizar input:focus:required:invalid {
    border: 2px solid red;
    }
    
    .inputLabelAtualizar input:required:invalid+label:before {
    content: '*';
    }
    
    .inputLabelAtualizar input:focus+label,
    .inputLabelAtualizar input:not(:placeholder-shown)+label {
    font-size: 13px;
    top: 0;
    
    }
    .inputAtualizarSelect{
        width: 25vw;
        height: 52px;
        padding: 15px 20px;
        font-size: 16px;
        border-radius:15px;
        margin-top: 1rem;
        margin-bottom: 3rem;

        border: 1px solid #022041;
        background-color: transparent;
    }
    .boxAlternativeButtons{
        display: flex;
    }